* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html {
  height: 100%;
}

.body {
  width: 100%;
  height: 100%;
  background: #000;
  display: grid;
  grid-template-columns: 20% 80%;
  position: relative;
}

.service {
  border-right: 2px solid #0094ff;
  height: 100%;
  width: 100%;
}

.game {
  height: 100%;
  width: 100%;
  position: relative;
  background-image: url('../static/sky.png');
  background-size: cover;
}

.spaceport {
  background-repeat: no-repeat;
  background-position: center bottom;
  position: absolute;
  height: 100%;
  width: 100%;
  bottom: 0;
  left: 0;
}

.spaceport_1 {
  background-image: url('../static/rocket_01.png');
  background-size: 20% 100%;
}

.spaceport_2 {
  background-image: url('../static/rocket_02.png');
  background-size: 10% 50%;
  background-position: center bottom;
}

.binoculars {
  background-image: url('../static/binoculars.png');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
  position: absolute;
  height: 100%;
  width: 100%;
  bottom: 0;
  left: 0;
}

.black {
  background-color: #000;
  background-size: 100% 100%;
  position: absolute;
  height: 100%;
  width: 100%;
  bottom: 0;
  left: 0;
}

.loading {
  background-color: #000;
  background-size: 100% 100%;
  position: absolute;
  height: 100%;
  width: 100%;
  top: 0;
  left: 0;
  z-index: 10000;
  display: flex;
  justify-content: center;
  align-items: center;
}

.loading__message {
  color: #0094ff;
  font-size: 32px;
}

.hidden {
  display: none;
}